/* Basic Style */

.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header .header__img {
  width: 100%;
}

.header .header__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {
  .header {
    text-align: center;
  }
}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.adding {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.adding__task-wrapper {
  display: flex;
}

.list {
  margin: 0;
  padding: 0px;
}

.list__item,
.tittle {
  list-style: none;
}

.input_text,
.input-checkbox,
.btn {
  outline: none;
}

.btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.btn:hover {
  color: #3a3a3a;
}


/* Heading */

.tittle,
.adding__label {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.input_text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.input_text:focus {
  color: #333;
}


/* New Task */

.adding__label {
  display: block;
  margin: 0 0 20px;
}

#adding__input {
  width: 318px;
}


/* Task list */

.list__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list__item>* {
  vertical-align: middle;
}

.list__item>.input-checkbox {
  margin: 0 10px;
}

.list__item>label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.list__item>.input_text {
  width: 226px;
}

.btn-delete_img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.btn-delete_img:hover {
  transform: rotateZ(0);
}


/* Completed */

.completed .task_label {
  text-decoration: line-through;
  color: #888;
}


/* Edit Task */

.list .input_text {
  display: none;
}

.edit-mode .input_text {
  display: inline-block;
  width: 224px;
}

.edit-mode .task_label {
  display: none;
}